<div class="row workspace-card w-100 shadow-sm">
    <div class="col-md-3">
        <app-images-gallery [images]="workspace?.photoUrls || []"></app-images-gallery>
    </div>

    <div class="col-md-7 workspace-card__content">

        <div class="workspace-card__name">
            {{ workspace?.worksapceTypeName }}
        </div>

        <p class="workspace-card__description">
            {{ workspace?.description }}
        </p>

        <div class="row workspace-card__features">
            <div class="col-md-6">
                <div class="workspace-card__feature">
                    @if(workspace?.amenities) {
                        <h5>Amenities</h5>
                        
                        <div class="workspace-card__feature-images-container">
                            @for (amentity of workspace?.amenities; track $index) {
                                <div class="workspace-card__feature-image">
                                    <img 
                                        [src]="amentity.imageUrl" 
                                        [alt]="amentity.name || 'Amenity'"
                                        class="feature-image">
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="workspace-card__feature">
                    @if(workspace?.capacity){
                        <h5>Capacity options</h5>
                        <div class="workspace-card__feature-images-container">
                            <div class="workspace-card__feature-image">
                                <img src="assets\Icons\capacity_icon.png" class="feature-image">
                            </div>

                            <div class="workspace-card__availabilities">{{ workspace?.capacity }}</div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="workspace-card__feature">
                    @if (workspace?.availabilities) {
                        <h5>Availability</h5> 

                        @for (availabilitie of workspace?.availabilities; track $index) {
                            <div class="workspace-card__availabilities">
                                <strong>{{ getFirstTwoWords(availabilitie.name) }}</strong>
                                <span>{{ getRemainingText(availabilitie.name) }}</span>
                            </div>   
                        }
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-2">
        <div class="workspace-card__actions d-flex justify-content-md-end justify-content-center">
            <a class="btn btn-primary w-75 mt-3 mt-md-0" [routerLink]="['/new-booking', workspace?.coworkingId]">Book now</a>
        </div>
    </div>
</div>

