<div class="container mb-5">

    <div class="go-back-container">
        <a (click)="goBack()" class="go-back-link">
            <img src="assets\Icons/arrow-left.png" class="go-back__icon" alt="">
            Go back
        </a>
    </div>

    <h1 class="mt-4">Available workspaces</h1>

    <div class="mt-4">
        @if (workspaces$ | async; as workspaces) {
            @for (workspace of workspaces; track $index) {
                <app-workspace-card [workspace]="workspace"></app-workspace-card>
            }
        } @else {
            <div class="text-center my-5">
                <p>Loading workspaces...</p>
            </div>
        }
    </div>
</div>
