<div class="container mb-5">
    <h1 class="mt-4">My bookings on Green Coworking</h1>

    @if (bookings$ | async; as bookings) {

        @if (bookings.length === 0) {
            <div class="container empty-bookings-container">
                <img src="assets/Icons/loop.png" class="empty-bookings-container__image"/>
                <div class="empty-bookings-container__title">You don`t have any bookings yet</div>
                <div class="empty-bookings-container__subtitle">Start by choosing a coworking space</div>
                <a class="btn btn-primary" routerLink="">Select a workspace</a>
            </div>
        } 
        @else if (bookings.length > 0) {
            @for (booking of bookings; track booking.id) {
                <app-booking-card [booking]="booking"></app-booking-card>
            }
        }
        
    } @else {
        <span>Loading...</span>
    } 

    <div class="ai-assistant-title">AI assistant</div>
    <div class="ai-assistant__questions-subtitle">Example questions</div>
    <div class="ai-assistant__questions-container d-flex flex-lg-row flex-column">
        <div class="ai-assistant__question">How many bookings do I have?</div>
        <div class="ai-assistant__question">What do I have booked for next week?</div>
        <div class="ai-assistant__question">List all my private room bookings</div>
    </div>

    <div class="ai-assistant__input-container">
        <input type="text" class="form-text-input" placeholder="Ask anything...">
        <button class="btn btn-primary ai-assistant__input-button">
            <img src="assets/Icons/send.png" alt="">
        </button>
    <div>
</div>
