<div class="container mb-5">
    <div class="go-back-container">
        <a (click)="goBack()" class="go-back-link">
            <img src="assets\Icons/arrow-left.png" class="go-back__icon" alt="">
            Go back
        </a>
    </div>

    <h1>Book your workspace</h1>

    <form class="booking-form">
        <div class="custom-column-gap">
            <div class="booking-form__details details-left">
                <h3 class="booking-form__title">Reservation details</h3>

                <label for="booking-form__name" class="form-label">Name</label>
                <br>
                <input 
                    type="text" 
                    class="form-text-input"
                    id="booking-form__name">

                <label for="booking-form__email" class="form-label">Email</label>
                <br>
                <input 
                    type="email" 
                    class="form-text-input"
                    id="booking-form__email">

                <label for="booking-form__workspace-type" class="form-label">Workspace type</label>
                <br>
                <div class="dropdown w-100">
                    <button class="btn custom-dropdown-btn w-100" 
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Choose your workspace</span>
                        <img src="assets\Icons/arrow-down.png" alt="dropdown icon" 
                            style="width: 24px; height: 24px;">
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><a class="dropdown-item" href="#">Private rooms</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

                <label class="form-label">What room size do you need?</label>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                    <label class="form-check-label" for="radioDefault1">
                        Default radio
                    </label>
                </div>
            </div>

            <div class="booking-form__details details-right">
                <h3 class="booking-form__title">Choose date and time</h3>

                <app-date-picker title="Start date" (dateChange)="onStartDateChange($event)"></app-date-picker>
                <app-date-picker title="End date" (dateChange)="onEndDateChange($event)"></app-date-picker>
                
                <app-time-picker title="Start time" (timeChange)="onStartTimeChange($event)"></app-time-picker>
                <app-time-picker title="End time" (timeChange)="onEndTimeChange($event)"></app-time-picker>

                <button class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </form>
</div>