<div class="container mb-5">
    <div class="go-back-container">
        <a (click)="goBack()" class="go-back-link">
            <img src="assets\Icons/arrow-left.png" class="go-back__icon" alt="">
            Go back
        </a>
    </div>

    <h1>Book your workspace</h1>

    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking-form">
        <div class="custom-column-gap">
            <div class="booking-form__details details-left">
                <h3 class="booking-form__title">Reservation details</h3>

                <label for="booking-form__name" class="form-label">Name</label>
                <br>
                <input 
                    type="text" 
                    class="form-text-input"
                    id="booking-form__name"
                    formControlName="name">                   

                <label for="booking-form__email" class="form-label">Email</label>
                <br>
                <input 
                    type="email" 
                    class="form-text-input"
                    id="booking-form__email"
                    formControlName="email">

                <label for="booking-form__workspace-type" class="form-label">Workspace type</label>
                <br>
                <div class="dropdown w-100">
                    <button class="btn custom-dropdown-btn w-100" 
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="selectedWorkspace">
                            {{ selectedWorkspace?.worksapceTypeName || 'Choose your workspace' }}
                        </span>
                        <img src="assets\Icons/arrow-down.png" alt="dropdown icon" 
                            style="width: 24px; height: 24px;">
                    </button>
                    <ul class="dropdown-menu w-100" id="workspacesTypesDropdown">
                        @if (workspaces$) {
                            <ng-container *ngFor="let workspace of workspaces$ | async">
                                <li>
                                    <a class="dropdown-item" (click)="onWorkspaceTypeSelect(workspace)">
                                        {{ workspace.worksapceTypeName }}
                                    </a>
                                </li>
                            </ng-container>
                        } @else {
                            <li><a class="dropdown-item" href="#">Loading...</a></li>
                        }
                    </ul>
                </div>

                <label class="form-label">What availability do you need?</label>
                <br>
                <div id="availabilitiesCheckboxes" style="margin-top: 24px;">
                    @for (availability of selectedWorkspace?.availabilities; track availability) {
                    <div class="form-check no-padding">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            [id]="'availability-' + availability.name" 
                            [value]="availability"
                            formControlName="availabilityType"
                            name="availabilityType">
                        <label class="form-check-label" [for]="'availability-' + availability.name">
                            {{ availability.name }}
                        </label>
                    </div>
                    }
                </div>
            </div>

            <div class="booking-form__details details-right">
                <h3 class="booking-form__title">Choose date and time</h3>

                <app-date-picker 
                    title="Start date" 
                    [initialDate]="bookingForm.get('startDate')?.value ?? null"
                    (dateChange)="onStartDateChange($event)">
                </app-date-picker>

                <app-date-picker 
                    title="End date" 
                    [initialDate]="bookingForm.get('endDate')?.value ?? null" 
                    (dateChange)="onEndDateChange($event)">
                </app-date-picker>
                
                <app-time-picker 
                    title="Start time" 
                    [initialTime]="bookingForm.get('startTime')?.value ?? null"
                    (timeChange)="onStartTimeChange($event)">
                </app-time-picker>

                <app-time-picker 
                    title="End time" 
                    [initialTime]="bookingForm.get('endTime')?.value ?? null"
                    (timeChange)="onEndTimeChange($event)">
                </app-time-picker>

                <button class="btn btn-primary w-100" type="submit" [disabled]="bookingForm.invalid">Submit</button>
            </div>
        </div>
    </form>
</div>